<head>
<style>
.back {
  background-color: red;
	border: 3px;
  color: white;
  font-family: Impact, Helvetica, sans-serif;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  font-size: 35px;
}


</style>
</head>

<body>



	<div class="left">

		<h1>Usernames</h1>

		<ul>
			<li>admin</li>
			<li>student</li>
			<li>guest</li>
		</ul>
	</div>

	<div class="right">

		<h1>Passwords</h1>

		<ul>
			<li>admin</li>
			<li>minedminds</li>
			<li>guest</li>
		</ul>
	</div>

	<div class="back">
		<input type="button" value="Back" onclick="history.back()">
	</div>

</body>
