

  <head>
<style>
.header {
	font-size: 25px;
  font-family: Impact, Helvetica, sans-serif;
  font-weight: bold;
  color: #891e10;
  margin-bottom: -10px
}
</style>
</head>

  <title>Secure Calculator</title>

  <body>
    <center>
        <div class="header">Secure Calculator</div><br>
        <%= yield %>
    </center>
  </body>
